* {
    box-sizing: border-box;
    margin:
        0;
}

body {
    font-family: sans-serif;
}

header {
    background-color: blue;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: gold;
    width: 20%;
    height: 400px;
    padding: 20px;
    float: left;
}

article {
    background-color: whitesmoke;
    width: 80%;
    padding: 20px;
    float: left;  
}

aside {
    clear: both;
    padding:20px;
    background-color: green;  /*changes made for slide 59*/
} 

footer {
    background: #222;
    color: #eee;
    text-align: center;
    padding: 0.5em;
    font-size: 0.9em;

}